
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Questrial', sans-serif;

}
#productos {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: space-evenly;
    
}
.card{
    margin: 20px;
}
.card:hover{
    border: 1px solid #141414;
    cursor: pointer;
}
.card-title{
    font-weight:lighter;
    font-family: 'Fjalla One', sans-serif;
}
.card img {
    transition:all 0.5s;
}
.card-body{
    text-align: center;
}
#btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
}

#navbar-container{
    padding-bottom: 20px;
    padding-top: 10px;
}
#navbar, ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 30px;
    color: #141414;
}
#buscador{
    
    border: 1px solid #141414;
}
#submit{
    padding-left: 2px;
    padding-right: 2px;
}
.link-item{
    margin-right: 10px;
    text-decoration: none;
    color: #141414;
    transition: all 1.5s;
}
.link-item:hover{
    color: #141414;
    border-bottom: 1px solid#141414;
}
.logo img{
    width: 55px;
    position: relative;
    left: -80px;
}
.formulario{
    padding-left: 20px;
}
.espacio{
    background-color: #141414;
    height: 20px;
}

#submit{
    background-color: white;
    color: #141414;
    border: 1px solid #141414;
    border-radius: 4px;
    transition: all 0.5s;
}
#submit:hover{
    background-color: #141414;
    color: white;
    border: 1px solid #434343
}
.titulo h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 45px;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#section-nas{
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)),  
    url(./bold.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-attachment:fixed ;
    margin-bottom: 30px;
}
.section-container{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 20px;
    
}
.bodynas{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
}
.bodynas h1,p{
    text-align: center;
}
.bodynas h1{
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    font-size: 55px;
    top: 90px;
    color: #e73131; 
    text-shadow: 10px 5px 7px black;
    font-style: italic;
    font-weight: bolder;
}
.bodynas p{
    font-size: 20px;
    color: white;
    text-align: left;
}


.img-lilnas img{
    width: 590px;
    position: relative;
    margin-top: 120px;
    margin-left: 20px;
    box-shadow: 25px 15px 15px black;
    transition: all 0.5s;
}
.img-lilnas img:hover{
    width: 595px;
    cursor: pointer;
}
.modal-content{
    width: 500px;
}
.clothes{
    height: 2000px;
    background-color: white;
}
.background {
    margin-top: 20px;
    text-align: center;
}

.background img {
    width: 95%;
}
.exitostxt {
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    text-align: center;
    position: relative;
    line-height: 75px;
    font-weight: bold;
    top: -320px;
    left: -470px;
    color: white;
}
.exitosp{
    text-align: left;
    position: relative;
    top: -300px;
    left:100px;
    color: white;
    line-height:7px ;
    
}
.btn-background{
    display:inline;
    position: relative;
    top: -290px;
    left:-550px;
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    transition: all 0.3s;
}
.btn-background a {
    text-decoration: none;
    color: black;
}
.btn-background:hover{
    cursor: pointer;
    background-color: #b2b2b2;
}
.btn-background a:hover{
    cursor: pointer;
    color: black;
}
.titulo2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
    margin-left: 45px;
    padding-bottom: 20px;
}
.background2{
    text-align: center;
    width: auto;
}
.exitostxt {
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    text-align: center;
    position: relative;
    line-height: 75px;
    font-weight: bold;
    top: -320px;
    left: -470px;
    color: white;
}

.exitosp2{
  margin-top: 25px;
  line-height: 1px;

}
.btn-background2{
    display: inline;
    position: relative;
    left: 46%;
    top: 18px;
    background-color: white;
    border: 1px solid #b2b2b2;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    transition: all 0.3s;

}
.btn-background2 a {
    text-decoration: none;
    color: black;
}
.btn-background2:hover{
    cursor: pointer;
    background-color: #b2b2b2;
}
.btn-background2 a:hover{
    cursor: pointer;
    color: black;
}
#footer{
    margin-top: 50px;
    height: 400px;
    background-color: #111111;
}
.main-footer{
    display: flex;
    gap: 40px;
}

.footer-col{
    display: flex;
}
.footer-col ul{
    
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}
.footer-col ul li a{
    font-family: 'Bebas Neue', cursive;

    font-size: 17px;
    text-decoration: none;
    color: white;
    
}
.footer-col2{
    display: flex;
    
}
.footer-col2 ul{
    
    flex-direction: column;
    margin-top: 130px;
}

.footer-col2 ul li a{
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
    text-decoration: none;
    color: #505050;

}
#afuera{
    color: white;
}
#afuera2{
    color: white;
}
.footer-col2 ul li a:hover{
    color: rgb(177, 177, 177);
}
.sub-footer{
    display: flex;
    position: relative;
    top: 370px;
    left: 250px;
    color: white;
    gap: 60px;
}
@media (min-width:1920px) {
    .exitostxt{
        position: relative;
        left: -730px;
    }
    .btn-background{
        position: relative;
        top: -290px;
        left:-815px;
    }
    #footer{
        margin-top: 300px;
    }
}
